    h1{
      font-weight: 900;
    }
     body{
       background-color: rgb(147, 166, 177);
     }
     .page{
       width: 850px;    
       background-color: white;   
       margin: auto;
       padding: 50px;
       padding-top: 35px;
    }
    .vis-container{
      width: 100%;
    }
    .center {
      justify-content: center;
    }
    .description h2, h1{
      margin-top:0px;
    }
    .description-center {
      padding-left: 20px;
      padding-right: 20px;
    }
    .pure-g{
      margin-bottom: 25px;
    }
    .small-font{
        font-size: 14px;
    }